<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Handlebars</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.css">
</head>
<body>
  
<div class="ui fluid aligned container" style="background-color: #AAA; width: 90%">
<div class="ui padded grid">
  <div class="three wide column blue"><h2>SISTEMA WEB</h2></div>
  <div class="two wide column blue"><h3><a href="/" style="color: white;">Cadastrar</a></h3></div>
  <div class="two wide column blue"><h3><a href="/consultar" style="color: #FFFFFF; opacity: 0.7;">Consultar</a></h3></div>
  <div class="nine wide column blue"></div>
</div><br>
  <div class="ui padded one column grid">
    <div class="ui column"><h2>Cadastrar - Agendamento de Potenciais Clientes</h2></div>
    <div class="ui column"><h4>Sistema Utilizado para Agendamento de serviços</h4></div>
  </div>
    {{{body}}}
<br>

</div>

</body>
</html>